---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;
.mailText{
	position: absolute; 
	left: -5000px;
}
.post-shadow{
	padding: 20px;
	box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.14);
}